---
import caret from "@assets/caret.svg?raw";
import { baseURL } from "@utils/baseURLUtil";
const { item, ...others} = Astro.props;


---

{
    item.children ?

    <li {...others} data-folder-links>
        
        <details open={item.open}>

            <summary data-href={baseURL(item.url)}>
                <span class="name">{item.name.replaceAll('-', ' ')}</span>
                <i set:html={caret}/>
            </summary>	
    
            <ul class="">
                {
                    item.children.map((child) => {
    
                        return <Astro.self item={child} />  
                    })
                }
            </ul>
        </details>
    
    </li>

    :

    <li {...others} data-link>

        <a class="" 

            class:list={{'active': item.active}} 

            href={baseURL(item.url) || '#'}
        >
            <span class="name">{item.name.replaceAll('-', ' ').replaceAll('.md', '')}</span>
        </a>

    </li>    
}

<script>
    document.querySelectorAll(`li[data-folder-links] details summary`).forEach(summary => {
        
        summary.addEventListener('click', (e) => {

            if(e.ctrlKey){

                e.preventDefault();

                const url = e.currentTarget.getAttribute('data-href');

                window.location.replace(url);
            }
        })
    })
</script>

<style>

    :global([data-theme="dark"]) {
        --sidebar-item-color: #848d97;
        --sidebar-item-color-hover: #2a70f3;
    }
    :global([data-theme="light"]) {
        --sidebar-item-color: #3d3d3d;
        --sidebar-item-color-hover: #0b0280;
    }

    /*Details and summary*/
    details {

        summary {
            display: flex;
            justify-content: space-between;
            font-family: var(--font-math);
            font-weight: bold;
    
            i {
                rotate: 0deg;
                transition: rotate 0.2s;
                height: fit-content;
            }
        }

        &[open] > summary > i {
            rotate: 90deg;
        }

        ul {
			border-left: 1px solid gray;
			list-style: none;
			padding: 0;
			padding-top: 10px;
			padding-left: 15px;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
    } 



    a {
        text-decoration: none;
        font-family: var(--font-math);
        color: var(--sidebar-item-color);
        font-weight: 400;
    }
    a.active {
        color: brown;
        font-weight: 800;
    }
    a:hover {
        color: var(--sidebar-item-color-hover);
        font-weight: 800;
    }

    .name {
        display: inline-block;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .name::first-letter {    
        text-transform: capitalize;
    }
    
</style>