---
import SenoCosenoDeUnaSumaAngulos from "@components/React/trigonometria/SenoCosenoDeUnaSumaAngulos/SenoCosenoDeUnaSumaAngulos";

---

<section>

    <SenoCosenoDeUnaSumaAngulos client:load />


</section>