.var-x {
    color: blue;
}
.var-c,
.var-a {
    color: rgb(140, 0, 103);
}
.var-f {
    color: rgb(1, 104, 60);
}
.var-g {
    color: rgb(56, 0, 116);
}
.var-k,
.var-b {
    color: rgb(228, 231, 59);
}
.var-n {
    color: rgb(0, 217, 255);
}
.exponent {
    color: blue;
}
.var-r {
    color: rgb(0, 255, 98);
}