
[data-theme="dark"] {
        
    --shadow-color: #a0bef560;
}
[data-theme="light"] {
    
    --shadow-color: #00000029;
}

.Seno-Coseno-de-una-suma-demostracion {
    width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Seno-Coseno-de-una-suma-demostracion .controls {
    padding-inline: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    
    .angles {
        display: flex;
        gap: 20px;
        justify-content: center;
    
        h4 {
            text-align: center;
            font-family: "Noto Sans Math", sans-serif;
            font-weight: 200;
            margin: 0;
        }
        input {
            min-width: 200px;
            max-width: 300px;
        }
    }
}



/* SVG */
.Seno-Coseno-de-una-suma-demostracion svg {
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
    border-radius: 20px;  
}