
[data-theme="light"], .Seno-y-coseno-de-una-suma-graph[data-theme="light"] {

    --proyections-color: #777;
    --alpha-color: #034da1;
    --beta-color: #a11503;
    --gamma-color: #9c0288;
    --rect-angle-color: #006d18;
    --line-color: #000;
}
[data-theme="dark"], .Seno-y-coseno-de-una-suma-graph[data-theme="dark"] {

    --proyections-color: #777;
    --alpha-color: #034da1;
    --beta-color: #a11503;
    --gamma-color: #9c0288;
    --rect-angle-color: #006d18;
    --line-color: #fff;
}


.Seno-y-coseno-de-una-suma-graph {

    .Graph-svg-line.proyections {
        stroke-width: 2;
        stroke-dasharray: 6;
        stroke-dashoffset: 8;
        stroke-opacity: 0.7;
        stroke: var(--proyections-color);
    }

    .Graph-svg-line, .Graph-svg-angle, .Graph-svg-circle {
        
        stroke: var(--line-color);
        stroke-opacity: 1;
    }

    .Graph-svg-angle.rect {
        stroke: var(--rect-angle-color);
        fill: var(--rect-angle-color);
        fill-opacity: 0.5;
    }
    .angle-alpha {
        fill: var(--alpha-color);
        stroke: var(--alpha-color);
        fill-opacity: 0.5;
    }
    .angle-aux {
        fill: var(--proyections-color);
        stroke: var(--proyections-color);
        fill-opacity: 0.5;
    }

    
    .Triangle-alpha {
        .Graph-svg-line {
            stroke: var(--alpha-color);  
        }
        .angle {
            fill: var(--alpha-color);
            stroke: var(--alpha-color);
            fill-opacity: 0.5;
        }
        .bg {
            fill: var(--alpha-color);
            fill-opacity: 0.1;
        }
        .Graph-svg-text {
            font-size: 16px;
            fill: var(--alpha-color);
        }
    }

    .Triangle-beta {
        .Graph-svg-line {
            stroke: var(--beta-color);  
        }
        .angle {
            fill: var(--beta-color);
            stroke: var(--beta-color);
            fill-opacity: 0.5;
        }
        .bg {
            fill: var(--beta-color);
            fill-opacity: 0.1;
        }
        .Graph-svg-text {
            font-size: 16px;
            fill: var(--beta-color);
        } 
    }

    .Triangle-gamma {
        .Graph-svg-line {
            stroke: var(--gamma-color);  
        }
        .angle {
            fill: var(--gamma-color);
            stroke: var(--gamma-color);
            fill-opacity: 0.5;
        }
        .bg {
            fill: var(--gamma-color);
            fill-opacity: 0.1;
        }
        .Graph-svg-text {
            font-size: 16px;
            fill: var(--gamma-color);
        }
    }

    .Graph-svg-arrow {
        stroke-width: 2;
        stroke: var(--proyections-color);

        &.gamma-arrow {
            stroke: var(--gamma-color);
        }
        &.alpha-arrow {
            stroke: var(--alpha-color);
        }
    }

    .Graph-svg-text {
        font-family: 'Latin Modern';
        font-style: italic;
        font-size: 22px;
        fill: var(--line-color);
    }


}

.Seno-y-coseno-de-una-suma-graph {

    &[data-hide~="arrows-guides"] {
        .arrows-guides {visibility: hidden;}
    }
    &[data-hide~="triangle-texts"] {
        .Triangle-alpha .Graph-svg-text,
        .Triangle-beta .Graph-svg-text,
        .Triangle-gamma .Graph-svg-text
        {
            visibility: hidden;
        }
    }

    &[data-hide~="triangle-alpha"] {
        .Triangle-alpha { visibility: hidden; }
    }
    &[data-hide~="triangle-beta"] {
        .Triangle-beta { visibility: hidden; }
    }
    &[data-hide~="triangle-gamma"] {
        .Triangle-gamma { visibility: hidden; }
    }

    &[data-hide~="aux-guides"] {
        .proyections, .angle-aux, .angle-alpha, .guides-rect, 
        .Pivot-A, .Pivot-B, .Pivot-C,
        .guides-g, .guides-p, .guides-h
        { visibility: hidden; }
    }
}