---
import Layout from "@layouts/Layout.astro";
import { CollectionFileStructure } from "@utils/CollectionUtils";
import { getCollection } from "astro:content";
import FolderContent from "@components/docs/FolderContent.astro";

const docs = await getCollection('fisica');

const fileStructure = new CollectionFileStructure({collection: docs});

//Siempre desplegada
const folders = ['teoria'].reduce((acc, path) => {

    const {result} = fileStructure.find(path);

    result.open = true;
    result.active = true;

    acc[path] = result;

    return acc;
}, {});


const sideBar = {
    title: 'Fisica',
    titleURL: '/fisica',
    links: [
        ...fileStructure.files   
    ]
}

const {result: readme} = fileStructure.find('readme.md');

const {Content} = await readme.entry.render();
---

<Layout title="Fisica" sideBar={sideBar} logo="fisica" home="/fisica">

    <section>

        <div class="markdown-body horizontal-scroll-bar">
        
            <Content />
    
        </div>
    
        <FolderContent folder={folders.teoria} />


    </section>


</Layout>

<style>
    section {
        padding-bottom: 50px;
    }

</style>