.Triangulo-pascal-binomio-newton {

    position: relative;
    width: fit-content;
    outline: 1px solid gray;

    svg {
        display: block;

        .row-over:hover {
            stroke: black;
            cursor: pointer;
        }
    }

    .toltip { 
        background-color: white;
        
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
    
        translate: -50% -50%;
        
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px #00000029;

        &.show {
            padding-top: 15px;
            padding-inline: 10px;
            padding-bottom: 5px;
        }

        .close-btn {
            padding: 0px 5px;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            font-size: 20px;

            &:hover {
                color: red;
            }
        }
    }
}