
.Tabs {

    .Tabs-content {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        max-width: var(--tabs-content-max-width, initial);
        overflow: auto;
    }
    .Tabs-content > * {
        grid-row-start: 1;
        grid-column-start: 1;
    }
    
    .Tabs-content .Tabs-item {
        visibility: hidden;
    }
    .Tabs-content .Tabs-item.active {
        visibility: visible;
        /* animation: show 1s; */
    }
}

/* @keyframes show {
    from {
        margin-left: -20px;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
} */