
[data-theme="dark"] {
        
    --shadow-color: #a0bef560;
}
[data-theme="light"] {
    
    --shadow-color: #00000029;
}

.Graph-Razones-trigonometricas {
    width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    
    .controls {
        padding-inline: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;


        .Razones-trigonometricas-angle {
            display: flex;
            width: 400px;
            flex-direction: column;
            align-items: center;

            input {
                min-width: 200px;
                max-width: 300px;
            }

            .value {
                font-family: 'latin modern';
                font-size: 22px;
                margin: 0;
            }
        }
    }


    
    svg {
        box-shadow: 0px 0px 10px 0px var(--shadow-color);
        border-radius: 20px;
    }
}


