
[data-theme="light"] {

    --proyections-color: #777;
    --rect-tan-color: #034da1;
    --fx-color: #a11503;
    --gamma-color: #9c0288;
    --rect-angle-color: #006d18;
    --line-color: #000;
}
[data-theme="dark"] {

    --proyections-color: #777;
    --rect-tan-color: #034da1;
    --fx-color: #a11503;
    --gamma-color: #9c0288;
    --rect-angle-color: #006d18;
    --line-color: #fff;
}

.Definicion-derivada {

    .Graph-svg-line {
        stroke: var(--line-color);
    }
    .Graph-svg-arrow {
        stroke: var(--proyections-color);
        stroke-width: 2.5;
    }

    .triangle {
        stroke: var(--line-color);
        fill: var(--line-color);
        fill-opacity: 0.2;
    }

    .Graph-svg-function {
        stroke: var(--fx-color);
    }

    .tangente {
        stroke: var(--rect-tan-color);
    }
    .triangle-rec-tangente {
        stroke: var(--rect-tan-color);
        fill: var(--rect-tan-color);
        fill-opacity: 0.3;
    }

    .point-A {
        .Graph-svg-point {
            fill: var(--fx-color);
        }
        .proyection {
            stroke: var(--proyections-color);
            stroke-width: 2;
            stroke-dasharray: 4;
            &.proyection-x {
                stroke-dashoffset: 12;
            }
            &.proyection-y {
                stroke-dashoffset: 10;
            }
        }
    }
    .point-B {
        .Graph-svg-point {
            fill: var(--fx-color);
        }
        .proyection {
            stroke: var(--proyections-color);
            stroke-width: 2;
            stroke-dasharray: 4;
            &.proyection-x {
                stroke-dashoffset: 17;
            }
            &.proyection-y {
                stroke-dashoffset: 8;
            }
        }
    }

    .Graph-svg-text {
        font-family: 'Latin Modern';
        font-style: italic;
        font-size: 22px;
    }


    &[data-hide~="tangente"] {
        .triangle-rec-tangente, .tangente, .pivot-B, .dy-arrow, .dy-text { 
            visibility: hidden; 
        }
    }
    &[data-hide~="secante"] {
        .triangle-rec-secante, .secante, .delta-y-arrow, .delta-y-text { 
            visibility: hidden; 
        }
    }
    &[data-hide~="secante"][data-hide~="tangente"] {
        .dx-arrow, .dx-text, .pivot-A { 
            visibility: hidden; 
        }
    }

    &[data-hide~="triangles"] {
        .triangle-rec-secante, .triangle-rec-tangente, 
        .delta-y-arrow, .delta-y-text, 
        .dx-arrow, .dx-text, .pivot-A, .pivot-B,    
        .dy-arrow, .dy-text { 
            visibility: hidden; 
        }
    }
}