.Triangulo-pascal {

    position: relative;
    width: fit-content;
    outline: 1px solid gray;

    svg {
        display: block;

        .row-over:hover {
            stroke: black;
        }
    }

    .toltip {
        background-color: white;
        border: 2px solid black;
        position: absolute;
        left: 50%;
        margin: auto;
        visibility: hidden;
        padding: 20px;
        transform: translate(-50%, 0);
        border-radius: 10px;
    }
    .toltip.show {
        visibility: visible !important;
    }
}