math.Numeros-conbinatorios-formule {

    display: block;
    padding: 10px;
    font-size: 18px;
    
    mtd {
        padding: 5px 2px;
    }
    mfrac > :nth-child(1) {
        padding-bottom: 0.2em;
    }
    mfrac > :nth-child(2) {
        padding-top: 0.2em;
    }
    
    .operator-C {
        font-size: 1.3em;
    }


    .var-n {
        color: var(--var-n, initial);
    }
    .var-r {
        color: var(--var-r, initial);
    }
    .result {
        color: var(--result, initial);
    }

}