

.Triangulo-pascal-numeros-combinatorios {

    position: relative;
    width: fit-content;
    height: auto;
    border: 1px solid gray;

    svg {
        display: block;

        .cell-over {
            cursor: pointer;

            &:hover {

                stroke: #000;
                stroke-width: 2;
            }
        }
        .cell text {
            user-select: none;
        }
    }

    .custom-tooltip {
        position: absolute;
        visibility: hidden;
        background-color: white;
        top: 0;
        left: 0;

        border: 1px solid black;
        box-shadow: 0px 0px 10px 0px #00000039;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        translate: -50% -50%;

        &.show {
            padding-top: 15px;
            padding-inline: 5px;
            padding-bottom: 5px;
        }

        .close-btn {
            display: none;
            padding: 0px 5px;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            font-size: 20px;

            &:hover {
                color: red;
            }
        }
        &.show .close-btn {
            display: block;
        }

        .controls {
            padding-top: 5px;
            display: none;

            .btn {
                --bs-btn-padding-y: 2px;
            }
        }
        &.show .controls {
            display: flex;
            gap: 10px;
        }
    }
}