

.Ruffini {

    width: fit-content;
    margin: auto;
    position: relative;

    font-size: 22px;

    table td {
        padding: 10px 20px;
        position: relative;
        text-align: center;
        cursor: default;
    }

    table tr td:nth-child(1){
        border-right: 1px solid #000;
    }
    table tr:nth-child(2) td {
        border-bottom: 1px solid #000;
    }

    table td.over{
        cursor: pointer;
    }
    table td.over:hover .Math-tooltip {
        visibility: visible;
    }
        

    /*Colores*/
    .var-a {
        color: var(--var-a, currentColor);
    }
    .var-b {
        color: var(--var-b, currentColor);
    }
    .var-r {
        color: var(--var-r, currentColor);
    }
    .var-x {
        color: var(--var-x, currentColor);
    }
}


