---
import Graph from '@React/Graph';
import Layout from '@layouts/Layout.astro';
import * as md from '@docs/test.md';

import '@docs/Funciones/examples.js';

import Tabs from '@layouts/Tabs.astro';
import GeogebraEmbed from '@layouts/GeogebraEmbed/GeogebraEmbed.astro';

---

<Layout title="Welcome to Astro.">


	<div class="Graph">

		<!-- <Graph client:load /> -->

		

	</div>

	<GeogebraEmbed id="xvkndjgc" enableShiftDragZoom allowStyleBar enableRightClick />

	
</Layout>

<style>
	.Graph {
		width: fit-content;
		margin: auto;
		border: 1px dashed gray;
	}

	.Graph :global(svg) {
		display: block;
	}
</style>