---
import Graph from '@React/Graph';
import Layout from '@layouts/Layout.astro';
import * as md from '@docs/test.md';

import { PITAGORICAS } from "@assets/Ecuaciones/Identidades trigonometricas/svg";

---

<Layout title="Welcome to Astro.">


	<div class="Graph">

		<!-- <Graph client:load /> -->

		

	</div>

	<!-- <section class="markdown-body">
		
		<md.Content></md.Content>	
	</section> -->


	<!-- <div style="color: brown;" set:html={PITAGORICAS.variantes[0].svg()}></div> -->

</Layout>

<style>
	.Graph {
		width: fit-content;
		margin: auto;
		border: 1px dashed gray;
	}

	.Graph :global(svg) {
		display: block;
	}
</style>