---
import Graph from '@React/Graph';
import Layout from '@layouts/Layout.astro';
import * as md from '@docs/test.md';

import { PITAGORICAS } from "@assets/Ecuaciones/Identidades trigonometricas/svg";
import Tabs from '@layouts/Tabs.astro';

---

<Layout title="Welcome to Astro.">


	<div class="Graph">

		<!-- <Graph client:load /> -->

		

	</div>

	<Tabs>
		<div>Majo</div>
		<div slot="1">1</div>
		<div slot="2">2</div>
		<div slot="3">3</div>
		<div slot="4">4</div>
	</Tabs>
</Layout>

<style>
	.Graph {
		width: fit-content;
		margin: auto;
		border: 1px dashed gray;
	}

	.Graph :global(svg) {
		display: block;
	}
</style>