---
import TrianguloPascal from "@React/TrianguloPascal/TrianguloPascal.jsx";
---

<div class="svg-container">

    <TrianguloPascal client:load />

</div>




<style>

    .svg-container {
        width: fit-content;
        outline: 1px solid gray;
        margin: 20px auto;
    }

</style>