---
import Layout from "@layouts/Layout.astro";

import { parseLatex } from "@utils/Markdown";

const html = await parseLatex('\\lim_{x \\to 5}');
---

<Layout>

    <div class="svg-container">

        

    </div>


    
</Layout>




<script>
   


</script>


<style>

    .try {
        display: grid;
        grid-template-columns: 1fr;

        & > * {
            grid-row-start: 1;
            grid-column-start: 1;
        }
    }

    div {
        --frac-line: rgb(9, 9, 245);
        --op-raiz: rgb(245, 9, 210);
    }

    .svg-container {
        width: fit-content;
        margin: 50px auto;
        outline: 1px dashed gray;
    }
    .svg-container :global(svg){
        
    }

</style>