---
import Layout from "@layouts/Layout.astro";
import Ruffini from "@components/React/Ruffini/Ruffini";
import RuffiniTable from "@components/React/Ruffini/RuffiniTable";
import { parseLatex } from "@utils/Markdown";
import ExcalidrawEmbed from "@layouts/ExcalidrawEmbed/ExcalidrawEmbed.astro";

const html = await parseLatex('\\lim_{x \\to 5}');
---

<Layout>

    <div class="try">

        <div style="font-size: 58px;" set:html={html}></div>
    
        <div>

            <ExcalidrawEmbed />

        </div>

    </div>
    
</Layout>




<script>

</script>


<style>

    .try {
        display: grid;
        grid-template-columns: 1fr;

        & > * {
            grid-row-start: 1;
            grid-column-start: 1;
        }
    }

    div {
        --frac-line: rgb(9, 9, 245);
        --op-raiz: rgb(245, 9, 210);
    }

    .svg-container {
        width: fit-content;
        outline: 1px solid gray;
        margin: 20px auto;
    }

</style>