---
import Layout from "@layouts/Layout.astro";
import Ruffini from "@components/React/Ruffini/Ruffini";
import RuffiniTable from "@components/React/Ruffini/RuffiniTable";
import { parseLatex } from "@utils/Markdown";

const html = await parseLatex('\\lim_{x \\to 5}');
---

<Layout>

    <div style="font-size: 22px;" set:html={html}></div>
    
</Layout>




<script>

</script>


<style>

    div {
        --frac-line: rgb(9, 9, 245);
        --op-raiz: rgb(245, 9, 210);
    }

    .svg-container {
        width: fit-content;
        outline: 1px solid gray;
        margin: 20px auto;
    }

</style>