.markdown-body {

    padding-block: 20px;
    letter-spacing: 1px;

    p, blockquote {
        font-size: 18px;
    }

    blockquote p {
        line-height: 1.8;
    }

    h2 {
        border-bottom: 4px solid #00aeef;
        margin-inline: 0px !important;
    }
    h2 ~ * {
        margin-inline: 15px;
    }

    h3 {
        border-bottom: 2px solid var(--color-border-muted);
        padding-bottom: 5px;
    }

    table {
        overflow: hidden;

        td, th {
            text-align: center;
        }
        td img {
            max-width: 300px;
            max-height: 300px;
            object-fit: scale-down;
        }
    }

    img {
        display: block;
        margin: 30px auto;
        max-width: 720px;
        height: auto;
        object-fit: scale-down;
        box-shadow: 0px 0px 10px 0px #00000029;
        border-radius: 10px;
    }

    video {
        display: block;
        margin: 30px auto;
        max-width: 720px;
        height: auto;
        object-fit: cover;
        box-shadow: 0px 0px 10px 0px #00000029;
        border-radius: 10px;
    }

    a {
        text-decoration: none;
        color: #4493f8;
        
        &:hover {
            color: #4493f8cc;
        }
    }
}