---
import 'bootstrap/dist/css/bootstrap.min.css';
import 'katex/dist/katex.min.css';
//import '../css/github-markdown-dark.css';
import '../css/github-markdown-light.css';

const { title } = Astro.props;
---

<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<meta name="description" content="Astro description" />

		<title>{title}</title>
	</head>
	<body>
		
		<main class="container">
			<slot />
		</main>

	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');
	
	main {
		padding: 20px 0;
	}

</style>
