---
import { getExamples } from "@docs/Funciones/examples";
import FuncionesLayout from "@layouts/FuncionesLayout.astro";

import GeogebraEmbed from "@layouts/GeogebraEmbed/GeogebraEmbed.astro";



export async function getStaticPaths() {

  const EXAMPLES = await getExamples();

  return Object.keys(EXAMPLES).map((name) => {

    return { params: {name} };
  });
}

const {name} = Astro.params;

const EXAMPLES = await getExamples();

const Example = EXAMPLES[name];

const {geogebra_id, geogebra_link} = Example.frontmatter;
---


<FuncionesLayout>

    <section>
    
		{
			geogebra_id && <div class="geogebra">
				
				<GeogebraEmbed id={geogebra_id} enableShiftDragZoom allowStyleBar enableRightClick />	
			</div>
		}

        <div class="markdown-body">
    
            <Example.Content />
            
        </div>
    
    
    </section>


</FuncionesLayout>

<style>

	.geogebra {
		display: flex;
		justify-content: center;
	}

</style>
